In [10]:
import pandas as pd

fileMiss = pd.read_csv('Messages.csv')
fileMiss.head(10)

                Date          Time     Destination    Number Direction  Type
02/09/2021  07:16 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   NaN
02/09/2021  07:16 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   NaN
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   NaN
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   NaN
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   NaN
02/09/2021  07:14 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   NaN
02/09/2021  07:14 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   NaN
02/09/2021  05:33 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   NaN
02/08/2021  05:27 PM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   NaN
02/08/2021  05:26 PM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   NaN

In [11]:
xoaNa = fileMiss.isnull()
xoaNa.head()

             Date   Time  Destination  Number  Direction  Type
02/09/2021  False  False        False   False      False  True
02/09/2021  False  False        False   False      False  True
02/09/2021  False  False        False   False      False  True
02/09/2021  False  False        False   False      False  True
02/09/2021  False  False        False   False      False  True

In [12]:
# fill all missing values with fillna() -> neu them inplace=true thi file goc se bi ghi de
fileMiss.fillna(0, inplace=True)
fileMiss.head()

                Date          Time     Destination    Number Direction  Type
02/09/2021  07:16 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   0.0
02/09/2021  07:16 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   0.0
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   0.0
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   0.0
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   0.0

In [13]:
# thay the cum tu co tu theo sau la SC
fileMiss.replace(to_replace=".+\sSC$", value='Dathay', regex=True).head()

                Date    Time     Destination    Number Direction  Type
02/09/2021  07:16 AM  Dathay  (803) 413-4549  Incoming      Text   0.0
02/09/2021  07:16 AM  Dathay  (803) 413-4549  Outgoing      Text   0.0
02/09/2021  07:15 AM  Dathay  (803) 413-4549  Incoming      Text   0.0
02/09/2021  07:15 AM  Dathay  (803) 413-4549  Outgoing      Text   0.0
02/09/2021  07:15 AM  Dathay  (803) 413-4549  Outgoing      Text   0.0

In [14]:
fileMiss.reset_index()
fileMiss.head()

                Date          Time     Destination    Number Direction  Type
02/09/2021  07:16 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   0.0
02/09/2021  07:16 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   0.0
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   0.0
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   0.0
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   0.0

In [17]:
# set dual indexes to easy comparison
fileMiss.set_index([fileMiss.index,'Date']).head(10)

                             Time     Destination    Number Direction  Type
           Date
02/09/2021 07:16 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   0.0
           07:16 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   0.0
           07:15 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   0.0
           07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   0.0
           07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   0.0
           07:14 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   0.0
           07:14 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   0.0
           05:33 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   0.0
02/08/2021 05:27 PM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   0.0
           05:26 PM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   0.0