In [66]:
import pandas as pd

file = pd.read_csv('Messages.csv')
file.head()

#in Messages.csv has a note at the end of its file which is not a right type of csv, be aware of that

                Date          Time     Destination    Number Direction  Type
02/09/2021  07:16 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   NaN
02/09/2021  07:16 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   NaN
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Incoming      Text   NaN
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   NaN
02/09/2021  07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing      Text   NaN

In [67]:
file.loc[:,['Direction']].head()

           Direction
02/09/2021      Text
02/09/2021      Text
02/09/2021      Text
02/09/2021      Text
02/09/2021      Text

In [68]:
suaIndex = file.copy()
suaIndex['NgayThang'] = suaIndex.index


suaIndex.head()

,Date,Time,Destination,Number,Direction,Type,NgayThang
02/09/2021,07:16 AM,"COLUMBIA, SC",(803) 413-4549,Incoming,Text,NaN,02/09/2021
02/09/2021,07:16 AM,"COLUMBIA, SC",(803) 413-4549,Outgoing,Text,NaN,02/09/2021
02/09/2021,07:15 AM,"COLUMBIA, SC",(803) 413-4549,Incoming,Text,NaN,02/09/2021
02/09/2021,07:15 AM,"COLUMBIA, SC",(803) 413-4549,Outgoing,Text,NaN,02/09/2021
02/09/2021,07:15 AM,"COLUMBIA, SC",(803) 413-4549,Outgoing,Text,NaN,02/09/2021

In [69]:

suaIndex['Type'] = suaIndex.Direction
suaIndex['Direction'] = suaIndex.Number
suaIndex['Number'] = suaIndex.Destination
suaIndex['Destination'] = suaIndex.Time
suaIndex['Time'] = suaIndex.Date
#cause suaIndex had Date all wrong, so we get to delete it
suaIndex.reset_index(drop=True, inplace=True)
suaIndex['Type'].head()

0    Text
1    Text
2    Text
3    Text
4    Text
Name: Type, dtype: object

In [71]:
xoaDate = suaIndex.copy()
del xoaDate['Date']
xoaDate.columns = ['Time','Destination','Number','Direction','Type','NgayThang']
print(f'Tong cong co {len(xoaDate)} dong')
xoaDate.head()

Tong cong co 307 dong

       Time   Destination          Number Direction  Type   NgayThang
0  07:16 AM  COLUMBIA, SC  (803) 413-4549  Incoming  Text  02/09/2021
1  07:16 AM  COLUMBIA, SC  (803) 413-4549  Outgoing  Text  02/09/2021
2  07:15 AM  COLUMBIA, SC  (803) 413-4549  Incoming  Text  02/09/2021
3  07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing  Text  02/09/2021
4  07:15 AM  COLUMBIA, SC  (803) 413-4549  Outgoing  Text  02/09/2021

In [74]:
xoaDate.values

array([['07:16 AM', 'COLUMBIA, SC', '(803) 413-4549', 'Incoming', 'Text',
        '02/09/2021'],
       ['07:16 AM', 'COLUMBIA, SC', '(803) 413-4549', 'Outgoing', 'Text',
        '02/09/2021'],
       ['07:15 AM', 'COLUMBIA, SC', '(803) 413-4549', 'Incoming', 'Text',
        '02/09/2021'],
       ...,
       ['06:10 AM', 'COLUMBIA, SC', '(803) 413-4549', 'Incoming', 'Text',
        '01/15/2021'],
       ['05:03 AM', 'COLUMBIA, SC', '(803) 413-4549', 'Outgoing', 'Text',
        '01/15/2021'],
       [nan, nan, nan, nan, nan,
        'The date and time for call usage corresponds with the time zone you are in when beginning a call.']],
      dtype=object)